<div class="row">
    <nav class="col-sm-3 col-md-2 sidebar" style="background-image:url(/assets/21980A.jpg)">
      <ul class="nav nav-pills flex-column" style="margin-left: 30px">
        <li class="nav-item">
          <a class="btn" style="background-color:transparent" href="#" routerLinkActive="active" routerLink="/dashboard/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn" style="background-color:transparent" href="#" routerLinkActive="active" routerLink="/dashboard/settings">Settings</a>
        </li>
        
      </ul>
      <div class="flex-column text-center">
        &copy; 2018 | SealyMedia, Inc. LLC | Omaha, NE
      </div>   
    </nav>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <router-outlet></router-outlet>
    </main>      
</div>
 